* {
  margin: 0;
  padding: 0;
}

.container {
  font-family: sans-serif;
  border: solid 4px #101010;
  margin: 100px auto;
  width: 825px;
}

.main-header {
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  background-color: #f7f7f7;
  padding: 20px;
  position: relative;
}

.main-header::before {
  content: "SALE";
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -20px;
  margin-left: -40px;
  color: #fff;
  background-color: #db2222;
  font-size: 13px;
  font-family: sans-serif;
  padding: 10px;
  letter-spacing: 5px;
}

.price {
  font-size: 25px;
  font-weight: bold;
  padding: 5px 0px;
}

.offer {
  font-weight: bold;
  text-transform: Uppercase;
  font-size: 13px;
  color: #777;
  padding-bottom: 35px;
}

.details {
  line-height: 2;
}

.par {
  margin-bottom: 1.5px;
}

a:link {
  color: #101010;
  text-decoration: underline;
}

a:visited {
  color: #101010;
}

a:hover {
  text-decoration: none;
}

a:active {
  color: #101010;
}

.colors {
  display: inline-block;
  margin: 15px 0px;
  margin-right: 10px;
}

.color-black {
  background-color: #101010;
  height: 30px;
  width: 30px;
}

.color-blue {
  background-color: #211df2;
  height: 30px;
  width: 30px;
}

.color-red {
  background-color: #f21d1d;
  height: 30px;
  width: 30px;
}

.color-yellow {
  background-color: #f3ff15;
  height: 30px;
  width: 30px;
}

.color-green {
  background-color: #0fff0a;
  height: 30px;
  width: 30px;
}

.color-brown {
  background-color: #814f27;
  height: 30px;
  width: 30px;
}

.post-header {
  text-transform: uppercase;
  margin: 5px 0px;
}

.product-details {
  padding-left: 25px;
  list-style: square;
}

.button {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  padding: 10px 0px;
  background-color: #101010;
  color: #fff;
  border-style: none;
  width: 100%;
}

.button:hover {
  color: #101010;
  background-color: #fff;
  border-top: 4px solid #101010;
  cursor: pointer;
}
